<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  <title>{{ .Title }} | {{ .Site.Title }}</title>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html"  . }} 

	<main>

		<h2>
			{{ .Title }}
		</h2>

		<div>
			{{ .Date.Format "02 January 2006" }}
		<div>
			Time to read ~ {{ .ReadingTime }} minutes
		</div>
		</div>
		<img src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">

		{{ .Content }}
		
	</main>

	{{ partial "footer.html"  . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>
</body>
</html>
