html {
  text-rendering: optimizeLegibility;
  --fun-color: #A66588;
  --text-color: #545454;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  font-weight: 400;
  margin: 0;
}

p {
  line-height: 1.9;
  font-weight: 300;
  display: block;
  letter-spacing: 1px;
  font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  margin: 0;
}


a {
  color: var(--text-color);
  text-decoration: none;
}

p a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--fun-color);
}


a:hover {
  color: var(--fun-color);
}




/*header*/

.header-all {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-title h1 a {
  letter-spacing: 3px;
  font-family: 'Rock Salt', cursive;
  font-size: 1em;
  color: var(--text-color);
}


.nav-header {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif; 
}

.nav-header div {
  padding: 0 0.8em;
}

.nav-header div a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  font-size: 1.1em;
}

.nav-header div a:hover {
  color: var(--fun-color);
}

.nav-header div a.active {
  color: var(--fun-color);
  border-bottom: 1px solid var(--fun-color);
}

.header-logo-img {
  width: 30%;
  margin-bottom: 1em;
}


@media only screen and (max-width: 58em) {
 
}

@media only screen and (max-width: 38em) {

  .nav-header div a {
    align-items: center;
  }

}




/*site*/
.site-content {
  min-height: 100vh;
  margin: 35px auto;
  width: 55%;
}

@media only screen and (max-width: 58em) {
.site-content {
  width: 65%;
}
}

@media only screen and (max-width: 38em) {
.site-content {
  width: 75%;
}
}

/*work*/

.work-content {
  margin: 35px auto;
  min-height: 100vh;
  width: 80%;
}

.work-content ul {
  list-style: none;
}

.work-content ul li {
  display: inline-block;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-left: 2em;
}

.work-item-summary {

}

.titel-work-summary {
  margin-top: 0.5em;
}

.img-work {
  width: 200px;
  height: auto;
}

@media only screen and (max-width: 58em) {
 .work-content  {
}
}

@media only screen and (max-width: 38em) {
  .work-content {
  }

}



/*project-content-seiten*/
.projects-content {
}

.projects-content img {
  width: 110%;
  margin: 1em auto;
  display: block;
}

.projects-content h3 {
  margin-top: 2em; 
}



/*process*/
.img-process {
  width: 100%;
  height: auto;
}






/*footer*/

.footer {
  position: relative;
  text-align: center;
}

.footer-content  {
  font-weight: normal;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 7em 1em 7em;
}

.footer-content p {
  font-family: 'Open Sans', sans-serif;
  color: var(--fun-color);
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.footer-break {
  display: none;
}

@media only screen and (max-width: 50em) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 3em;
    padding-bottom: 0.75em;
  }
  .footer-content p {
    line-height: 140%;
  }
}

@media only screen and (max-width: 22em) {
  .footer-content  {
  font-weight: normal;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.footer-break {
  display: inline;
}
}


