html {
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #545454;
  font-weight: 400;
  margin: 0;
}

p {
  line-height: 1.9;
  font-weight: 300;
  display: block;
  letter-spacing: 1px;
  font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #545454;
  margin: 0;
}


a {

}


a:hover {
 
}




/*header*/

.header-all {
  font-weight: normal;
  padding: 2em 7em 5em 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


header a {
  text-decoration: none;
  color: white;
}

.header-title h1 a {
  letter-spacing: 3px;
  font-family: 'Rock Salt', cursive;
  font-size: 1em;
  color: #656D6D;
}


.nav-header {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif; 
}

.nav-header div {
  padding-left: 1.5em;
}

.nav-header div a {
  display: inline-block;
  text-decoration: none;
  color: #545454;
  position: relative;
  font-size: 1.1em;
}

.nav-header div a:hover {
  color: #545454;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav-header div a.active {
  color: #545454;
  border-bottom: 1px solid #545454;
  padding-bottom: 4px;
}


@media only screen and (max-width: 58em) {
 .header-all  {
  flex-direction: column;
  padding: 1em 3em 4em 3em;
}
}

@media only screen and (max-width: 38em) {
header {
    -webkit-background-size: 140%;
  }
  .nav-header div a {
    flex-direction: column;
    align-items: center;
  }

}


/*site*/
.site-content {
  min-height: 100vh;
  margin: 35px auto;
  width: 60%;
}


/*work*/

.work-content {
  margin: 35px auto;
  width: 60%;
}

.work-content ul {
  list-style: none;
}

.work-item-summary {
  margin-bottom: 3em;
}

.titel-work-summary {
  margin-top: 0.5em;
}

.img-work {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 58em) {
 .work-content  {
    width: 65%;
}
}

@media only screen and (max-width: 38em) {
  .work-content {
    width: 75%;
  }

}



/*projects*/

.project-title {
  margin-bottom: 1.5em;

}

.img-project{
  width: 100%;
  height: auto;
}



/*process*/
.img-process {
  width: 100%;
  height: auto;
}






/*footer*/

.footer {
  position: relative;
  text-align: center;
}

.footer-content  {
  font-weight: normal;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 7em 1em 7em;
}

.footer-content p {
  font-family: 'Open Sans', sans-serif;
  color: #656D6D;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.footer-break {
  display: none;
}

@media only screen and (max-width: 50em) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 3em;
    padding-bottom: 0.75em;
  }
  .footer-content p {
    line-height: 140%;
  }
}

@media only screen and (max-width: 22em) {
  .footer-content  {
  font-weight: normal;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.footer-break {
  display: inline;
}
}


