html {
  text-rendering: optimizeLegibility;
  --fun-color: #B3E2E2;
  --text-color: #545454;
  --light-grey: #9E9C9C;
  --font-special: 'Raleway', serif;
  --font-normal: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-special);
  letter-spacing: .03em;
  font-weight: 400;
}

h1 {
  line-height: 1.2em;
}

h2 {
  font-size: 2em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.65em;
  line-height: 1em;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 3.5em;
  padding-bottom: 0;
  font-size: 1.75em;
}

p {
  line-height: 1.8;
  font-weight: 300;
  display: block;
  letter-spacing: .045em;
}

body {
  font-family: var(--font-normal);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--fun-color);
  font-weight: bolder;
}

a:hover {
  color: var(--fun-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: 100%;
}

/*header*/

.header-all {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 4em;
}

.header-title h1 a {
  letter-spacing: 3px;
  font-family: 'Rock Salt', cursive;
  font-size: 1em;
  color: var(--text-color);
}

.nav-header {
  display: flex;
  flex-direction: row;
  font-family: var(--font-normal); 
}

.nav-header div {
  padding: 0 0.9em;
  margin-top: 1em;
}

.nav-header div a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  font-size: 1.1em;
}

.nav-header div a:hover {
  color: var(--fun-color);
}

.nav-header div a {
  border-bottom: 1px solid white;
}

.nav-header div a.active {
  color: var(--fun-color);
  border-bottom: 1px solid var(--fun-color);
}

@media only screen and (max-width: 38em) {
  .nav-header {
  flex-direction: column;
  margin-top: 1em;
  }
  .nav-header div {
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 0;
  }
  .header-logo-img {
  width: 50%;
  margin-bottom: 1em;
}
.header-title h1 a {
  font-size: 0.7em;
}
}




/*site*/
.site-content {
  min-height: 100vh;
  margin:auto;
  width: 55%;
}

.site-content img {
  width: 100%;
}

@media only screen and (max-width: 58em) {
    .site-content {
      width: 65%;
  }
}

@media only screen and (max-width: 38em) {
    .site-content {
      width: 75%;
  }
}




/*blog summary*/

.single-post-summary {
  margin-bottom: 7em;
}

.titel-blog-summary {
  text-align: center;
}

.date-blog-summary {
  text-align: center;
  line-height: 1em;
  margin: 0.8em auto 1.5em auto;
}

.img-blog-summary {

}

.summary-blog-summary {

}

.read-more-blog-summary {
  font-weight: 600;
}



/*blog posts*/

.post-title {
  text-align: center;
  margin-top: 1em;
}

.post-date {
  text-align: center;
  line-height: 1em;
  margin: 0.8em auto 1.5em auto;
}

.post-hero-img {

}



/*Lob Seite*/

.lob-text {
  text-align: center;
  width: 80%;
  margin: auto;
}

.lob-text p {
  margin: 4em auto;
}

/*footer*/

.footer {
  position: relative;
  text-align: center;
}

.footer-content  {
  font-weight: normal;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2em 4em 2em 4em;
}

.footer-content p {
  font-family: var(--font-normal);
  color: var(--text-color);
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.footer-break {
  display: none;
}

@media only screen and (max-width: 38em) {
  .footer-content  {
  padding-left: 1em;
  padding-right: 1em;
  }
}

@media only screen and (max-width: 28em) {
  .footer-break {
    display: inline;
  }
}