html {
	text-rendering: optimizeLegibility;
	--text-color: #333;
	--p-color: #545454;
	--text-font: 'Open Sans', sans-serif;
	--title-font: serif;
	--color-1:#FFE5E4;
	--color-2:#E4FEFF;
}

body {
	color: var(--text-color);
	margin: 0;
	padding: 0;
	font-family: var(--text-font);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	width: 90%;
	margin: auto;
	flex: 1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: var(--title-font);
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

/*Header*/
header {
	width: 75%;
	margin: 2em auto;
	color: var(--text-color);
}

.header-content {
	font-size: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	font-size: 1.35em;
	width: 75%;
}

.header-name {
	border-bottom: 1.5px solid var(--text-color);
	padding-bottom: 0.25em;
	margin-bottom: 0.25em;
	text-align: center;
}

header nav ul {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
}

header nav a {
	margin: 0 0.5em;
	padding: 0.2em 0.25em;
	border-bottom: 1.5px solid white;
}

header nav a:hover {
	border-bottom: 1.5px solid var(--text-color);
}

header nav a.active {
	border-bottom: 1.5px solid var(--text-color);
}

@media only screen and (max-width:55em) {
	header {
		width: 95%;
		margin: 1em auto;
	}

}

@media only screen and (max-width:34em) {
	header nav ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	header nav a {
		font-size: 0.75em;
	}

}

/*Index*/
.index-main {
	margin: auto;
}

.index-main h1 {
	font-size: 3em;
	margin: 1em 0;
}

@media only screen and (max-width:32em) {
	.index-main h1 {
		font-size: 2em;
	}

}

.index-main p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}

.index-main h2 {
	margin: 1em 0;
}

.index-main h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0;
}

.index-me-all {
	display: flex;
	flex-direction: row;
	width: 55%;
	margin: auto;
}

.index-me-img {
	width: 75px;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 #d3d3d3, 0 6px 20px 0 #d3d3d3;
}

.index-me-text {
	margin-left: 2em;
}

.index-me-text a {
	text-decoration: underline;
}

@media only screen and (max-width:55em) {
	.index-me-all {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: auto;
	}

	.index-me-img {
		width: 75px;
		height: 100%;
		border-radius: 50%;
	}

	.index-me-text {
		margin-top: 1em;
		margin-left: 0;
		margin-bottom: 4em;
		text-align: center;
	}

}

.index-box {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	margin-top: 3em;
	justify-content: center;
	align-items: center;
}

.index-box-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin: auto;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.index-container {
	position: relative;
}

.index-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 99%;
	width: 100%;
	opacity: 0;
	transition: .25s ease;
	background: rgb(255, 255, 255);
	background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.index-container:hover .index-overlay {
	opacity: 1;
}

.index-text {
	color: white;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

@media only screen and (max-width:48em) {
	.index-box {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-column-gap: 0;
		grid-row-gap: 1em;
		margin-top: 3em;
	}

	.index-box-img {
		width: 100%;
		height: auto;
		object-fit: cover;
		margin: auto;
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
	}

}

/*Projects*/
.projects-all {
	margin: auto;
	text-align: center;
	width: 80%;
}

.project-text {
	font-size: 1.15em;
	line-height: 1.5em;
	margin: 0.75em auto;
}

.projects-box {
	margin: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	margin-top: 3em;
	justify-content: center;
}

.projects-box-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin: auto;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width:48em) {
	.projects-box {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-column-gap: 0;
		grid-row-gap: 1em;
		margin-top: 3em;
	}

}

/*Subsites*/
section {
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

section h1 {
	font-size: 3em;
	margin: 1em 0 0 0;
}

section p {
	color: var(--p-color);
}

@media only screen and (max-width:32em) {
	section h1 {
		font-size: 2em;
	}

}

section p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}

section img {
	width: 100%;
	margin: 0.5em 0;
}

section h2 {
	font-size: 2em;
	margin: 1em 0;
}

section h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0;
}

section h4 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 1em 0;
}

/*
section a:hover {
	background-color: var(--color-1);
	padding: 0.1em 0.3em;
}*/
section li {
	list-style: disc;
	margin-left: 3em;
	font-size: 1.15em;
	line-height: 1.25em;
	margin-bottom: 0.75em;
}

section img {
	margin: 2em auto;
}

@media only screen and (max-width:55em) {
	section {
		width: 85%;
	}

}

.place-link-id {
	background-color: red;
}

.signature {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 3em;
	margin-left: 0.5em;
	transform: rotate(-2deg);
	opacity: 0.8;
}

.img-design-page {
	box-shadow: 0 4px 8px 0 #d3d3d3, 0 6px 20px 0 #d3d3d3;
	width: 50%
}

/*BlogPost Ubersicht*/
.blog-all {
	width: 65%;
	margin: auto;
}

.blog-all li {
	list-style: none;
	margin-left: 0;
}

.blog-all a {
	background-color: transparent;
	padding: 0;
}

.blog-all a:hover {
	background-color: transparent;
	padding: 0;
}

.blog-section-title {
	font-size: 3em;
	margin: 1em 0;
}

.single-blog-post {
}

.seperator-blog-posts {
	border-bottom: 2px solid var(--text-color);
	width: 50%;
	text-align: center;
	margin: 5em auto 5em auto;
}

.single-blog-post a:hover {
	background-color: var(--color-2);
}

.blog-ubersicht-date {
	opacity: 0.6;
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

.blog-ubersicht-title {
	padding: 0;
	font-size: 2em;
}

.blog-ubersicht-lesezeit {
	opacity: 0.8;
}

.blog-ubersicht-summary {
	font-size: 1.1em;
	line-height: 1.6em;
	opacity: 0.8;
}

.blog-ubersicht-read-more {
	font-weight: 600;
	font-size: 1.15em;
}

@media only screen and (max-width:55em) {
	.blog-all {
		width: 85%;
	}

	.blog-section-title {
		margin: 1em 0;
	}

	.blog-ubersicht-date {
		font-size: 0.9em;
		line-height: 1em;
	}

	.blog-ubersicht-title {
		padding: 0.1em 0;
		margin: 0.5em 0 0 0;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.blog-ubersicht-summary {
		padding: 0.8em 0;
		font-size: 0.9em;
		line-height: 1.7em;
	}

	.blog-ubersicht-read-more {
		font-size: 1em;
	}

}

@media only screen and (max-width:32em) {
	.blog-section-title {
		font-size: 2em;
		margin: 1em 0;
	}

}

/*Blogposts*/
.blog-post-date {
	opacity: 0.8;
}

.blog-post-title {
	font-size: 2em;
	margin: 0.5em 0 0.2em 0;
}

.blog-post-lesezeit {
	margin-bottom: 2.5em;
}

.blog-post-text {
}

/*Contact*/
.contact-all {
	width: 80%;
	margin: auto;
}

/*Impressum*/
.kontakt-impressum-link {
	margin-top: 4em;
	margin-bottom: -2em;
}

.kontakt-impressum-link a {
	background-color: white;
}

/*Footer*/
footer {
	position: relative;
	margin: 4em auto 2em auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

footer div {
	margin-bottom: 1em;
}

footer a {
	text-decoration: underline;
	margin: 0.5em;
}

footer a:hover {
}
