<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}
  <title>Design | {{ .Site.Title }}</title>
</head>
<body>

	{{ partial "header.html"  . }}

	<div class="side-content work-content">
	<h1 class="index-title-hero">Design</h1>
		<ul>			
			{{ range .Site.Taxonomies.categories.design }}
			<li>
				<a href="{{ .Permalink }}">
				<img class="img-work" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
				<div class="titel-work">
					{{ .Title }}
				</div>
				
				</a>
				
			</li>
			{{ end }}
		</ul>

	</div>
	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</body>
</html>
