<div class="call-to-action">

	<div class="call-to-action-text">
	<h2>Bereit etwas zu verändern? <br> Dann lass uns reden!</h2>
	<p>Schreib mir eine Nachricht und wir machen einen 20-minütigen Kennenlerntermin aus damit ich mehr über dich erfahren kann und herausfinden kann wie ich dir am Besten helfen kann.</p>
	</div>
	<div class="button-action-container">
		<a href="mailto:verena@verenaortlieb.de" target="_blank">
			<div class="button-action">
				Nachricht schreiben
			</div>
		</a>
	</div>
</div>