<div class="call-to-action">
	<div class="call-to-action-text">
		<h2>Bereit etwas zu verändern? <br> Dann lass uns reden!</h2>
		<!-- <p>Schreib mir eine Nachricht und wir machen einen 20-minütigen Kennenlerntermin aus damit ich mehr über dich erfahren kann und herausfinden kann wie ich dir am Besten helfen kann.</p>
		<div class="button-action-container">
			<a href="mailto:verena@verenaortlieb.de" target="_blank">
				<div class="button-action">
					Termin vereinbaren
				</div>
			</a>
		</div> -->

<div class="container-contact-form">
<form name="contact" method="POST" action="/dankecontact" netlify>

<label for="fname">Vorname</label>
    <input type="text" id="fname" name="firstname" placeholder="">

<label for="lname">Nachname</label>
    <input type="text" id="lname" name="lastname" placeholder="">

<label for="email">E-Mail Adresse</label>
    <input type="email" id="email" name="email" placeholder="">

<label for="subject">Grund aus dem ich Kontakt aufnehme</label>
    <textarea id="subject" name="subject" placeholder="" style="height:8em"></textarea>

<input type="submit" value="Senden">

  </form>
</div>

	</div>
</div>
<footer class="footer">
	<div class="footer-content">
		<div class="footer-social">
			<a href="https://www.facebook.com/VerenaOrtlieb/" target="_blank"><div class="social-facebook"></div></a>
			<a href="mailto:verena@verenaortlieb.de" target="_blank"><div class="social-mail"></div></a>
		</div>
		<p>© copyright 2018 | verena ortlieb</p>
		<p class="footer-extra"><a href="/impressum">Impressum</a></p>
	</div>
</footer>