<div class="call-to-action">
	 <h2>Bereit etwas zu verändern? <br> Dann lass uns reden!</h2>
	 <p>Schreib mir eine Nachricht und wir machen einen 20-minütigen Kennenlerntermin aus damit ich mehr über dich erfahren kann und herausfinden kann wie ich dir am Besten helfen kann.</p>

<div class="button-action-container">
	<a href="mailto:verena@verenaortlieb.de" target="_blank">
		<div class="button-action">
		Nachricht schreiben
		</div>
	</a>
</div>

</div>

<footer class="footer">
<div class="footer-content">
	<div class="footer-social">
		<a href="https://www.facebook.com/VerenaOrtlieb/" target="_blank"><div class="social-facebook"></div></a>
		<a href="mailto:verena@verenaortlieb.de" target="_blank"><div class="social-mail"></div></a>
	</div>
    <p>© copyright 2018 | verena ortlieb</p>
</div>
</footer>
