<header>
<div class="header-all">
    <div class="header-title">
         <h1>
         <a href="/">Verena Ortlieb</a>
        </h1>
    </div>
    <nav class="nav-header">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        <div>
            <a {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} class="active" {{end}} href="{{ .URL }}">{{ .Name }}</a>
        </div>
        {{end}}
    </nav>

    <div class="line"></div>

</div>
</header>
