<header>
<div class="header-all">
    <div class="header-title">
         <!-- <h1>
         <a href="/">Verena Ortlieb</a>
        </h1> -->
        <a href="/"><img class="header-logo-img" src="\img\LogoVOPolygon.png" alt="Verena Ortlieb"></a>
    </div>

    <nav class="nav-header navigation">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        <div>
            <a {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} class="active"{{end}} href="{{ .URL }}">{{ .Name }}</a>
        </div>
        {{end}}
    </nav>

</div>
</header>
