<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
		{{ partial "head.html" . }}
    <title>{{ .Site.Title }}</title>
	</head>

<body>

	{{ partial "header.html"  . }} 

<div class="site-content">

	<h2 class="index-title">Bereit etwas zu verändern?</h2>

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia officiis aspernatur iure iste est ea dignissimos maxime numquam, enim quas tenetur modi consequatur beatae officia molestias cum nesciunt cumque, obcaecati!
</p>

<img src="/img/test.jpg" alt="">
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia officiis aspernatur iure iste est ea dignissimos maxime numquam, enim quas tenetur modi consequatur beatae officia molestias cum nesciunt cumque, obcaecati!
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia officiis aspernatur iure iste est ea dignissimos maxime numquam, enim quas tenetur modi consequatur beatae officia molestias cum nesciunt cumque, obcaecati!
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia officiis aspernatur iure iste est ea dignissimos maxime numquam, enim quas tenetur modi consequatur beatae officia molestias cum nesciunt cumque, obcaecati!
</p>

<div class="call-to-action">
	 <h2>Bereit etwas zu verändern? Dann lass uns reden!</h2>
	 <p>Schreib mir eine Nachricht und wir machen einen 20-minütigen Kennenlerntermin aus damit ich mehr über dich erfahren kann und herausfinden kann wie ich dir am Besten helfen kann.</p>

<div class="button-action-container">
	<a href="mailto:verena@verenaortlieb.de" target="_blank">
		<div class="button-action">
		Nachricht schreiben
		</div>
	</a>
</div>

</div>

</div>	
	
	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>
	</body>
</html>


