<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
		{{ partial "head.html" . }}
    <title>{{ .Site.Title }}</title>
</head>

<body>


	{{ partial "header.html"  . }} 

<div class="hero">

<h2 class="hero-img-text">Dein Leben hat mehr zu bieten!</h2>
</div>

<div class="site-content">

<h2 class="index-title">Bereit etwas zu verändern?</h2>

<p>Hast du das Gefühl, dass da mehr ist? Ist dein Leben auch noch nicht so, wie du es gerne hättest?</p>

<p>Wenn du bereit bist das in Angriff zu nehmen und der Mensch zu werden, der du sein möchtest, dann bist du hier richtig. Und ich möchte dich sehr gerne auf diesem Weg begleiten.</p>

<div class="index-highlight-text">
<h3>Du weisst, dass dein Leben mehr zu bieten hat, <br> also lass uns beginnen.</h3>
</div>

<h2 class="index-title">Hallo, ich bin Verena!</h2>

<p>Ich liebe es Menschen dabei zu helfen mit ihrem Leben klar zu kommen. Ich bin Coach, Digitale Nomadin, Designerin, Blog-Schreiberin und Lebensbegeisterte. <br> <a href="/ich/">Mehr über mich...</a>
</p>



</div>	
	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

	
	</body>
</html>


