<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
		{{ partial "head.html" . }}
    <title>{{ .Site.Title }}</title>
	</head>
	<body>

	{{ partial "header.html"  . }} 



<div class="site-content">
	<div class="index-img-grid">
		<img src="/img/Ice1.png" alt="">
		<!-- <img src="/img/Ice2.png" alt=""> -->	
 		<img src="/img/Ice3.png" alt="">
		<img src="/img/Ice4.png" alt="">
		<!-- <img src="/img/Ice5.png" alt="">
		<img src="/img/Ice6.png" alt=""> -->
		<img src="/img/DotsAmsterdam.png" alt="">
		<!-- <img src="/img/DotsBangkok.png" alt=""> -->		
		<img src="/img/DotsMontreal.png" alt="">
		<img src="/img/DotsSeattle.png" alt="">
		<img src="/img/PolyCat.png" alt="">
		<img src="/img/PolyCow.png" alt=""> 
		<!-- <img src="/img/PolyDog.png" alt=""> -->
		<!-- <img src="/img/PolyElephant.png" alt="">
		<img src="/img/PolyElk.png" alt="">-->
		<img src="/img/PolyGiraffe.png" alt="">
		<!-- <img src="/img/PolyHippo.png" alt=""> -->
		<img src="/img/RobotBlue.png" alt="">
		<!-- <img src="/img/RobotBox.png" alt=""> -->
		<!-- <img src="/img/RobotGreen.png" alt=""> -->
		<img src="/img/RobotPurple.png" alt="">
		<img src="/img/RobotRed.png" alt="">
		<!-- <img src="/img/RobotToaster.png" alt=""> -->
		<!-- <img src="/img/RobotYellow.png" alt=""> -->
		<!-- <img src="/img/StuffAlarm.png" alt=""> -->
		<img src="/img/StuffBackpack.png" alt="">
		<img src="/img/StuffBoot.png" alt="">
		<img src="/img/StuffBottle.png" alt="">
		<!-- <img src="/img/StuffBurger.png" alt=""> -->
		<img src="/img/StuffCarrott.png" alt="">
		<img src="/img/StuffCoffee.png" alt="">
		<!-- <img src="/img/StuffCola.png" alt=""> -->
		<!-- <img src="/img/StuffCorn.png" alt=""> -->
		<!-- <img src="/img/StuffFish.png" alt=""> -->
		<img src="/img/StuffGameboy.png" alt="">
		<!-- <img src="/img/StuffiMac.png" alt=""> -->
		<img src="/img/StuffLight.png" alt="">
		<!-- <img src="/img/StuffMario.png" alt=""> -->
		<img src="/img/StuffMelone.png" alt="">
		<img src="/img/StuffMilk.png" alt="">
		<!-- <img src="/img/StuffMug.png" alt=""> -->
		<!-- <img src="/img/StuffPalmtree.png" alt=""> -->
		<!-- <img src="/img/StuffPineapple.png" alt=""> -->
		<img src="/img/StuffRadic.png" alt="">
		<!-- <img src="/img/StuffScooter.png" alt=""> -->
		<img src="/img/StuffSurfboards.png" alt="">
		<!-- <img src="/img/StuffTetris.png" alt=""> -->
		<img src="/img/StuffWasher.png" alt="">

	</div>
</div>

	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>
	</body>
</html>


