html {
	text-rendering: optimizeLegibility;
	--text-color: #333;
	--text-font: 'Open Sans', sans-serif;
	--title-font: serif;
	--color-1:#93D5D5;
	--color-2:#d593d5;
	--color-3:#93b4d5;
	--color-4:#d5d593;
	--color-5:#d59393;
	--color-6:#9393d5;
	--color-7:#93d593;
}

body {
	color: var(--text-color);
	margin: 0;
	padding: 0;
	font-family: var(--text-font);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	width: 90%;
	margin: 4em auto;
	flex: 1;
}

@media only screen and (max-width:54em) {
	main {
		width: 75%;
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: var(--title-font);
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

/*Header*/
header {
}

.header-content {
	font-size: 1em;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1.25em auto;
	font-size: 1.35em; 
	width: 90%;
}

.header-name {}

header nav {
}

header nav a {
	padding: 0 0.75em;
}

header nav a.active {
	background-color: var(--color-2);
}

.menu {
	display: flex;
	flex-direction: row;
	position: relative;
}

.menu li {
	width: 100%;
	height: auto;
}

.menu a {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
}
/*
li.slider {
	width: 20%;
	height: 100%;
	position: absolute;
	transition: left 0.4s, background-color 0.2s;
}

.menu li:nth-child(1):hover ~ .slider, .menu li:nth-child(1):focus ~ .slider, .menu li:nth-child(1):active ~ .slider {
	left: 0%;
	background-color: var(--color-2);
	padding: 0 0.25em;
}

.menu li:nth-child(2):hover ~ .slider, .menu li:nth-child(2):focus ~ .slider, .menu li:nth-child(2):active ~ .slider {
	left: 24%;
	background-color: var(--color-3);
	padding: 0 0.25em;
}

.menu li:nth-child(3):hover ~ .slider, .menu li:nth-child(3):focus ~ .slider, .menu li:nth-child(3):active ~ .slider {
	left: 50%;
	background-color: var(--color-4);
	padding: 0 0.25em;
}

.menu li:nth-child(4):hover ~ .slider, .menu li:nth-child(4):focus ~ .slider, .menu li:nth-child(4):active ~ .slider {
	left: 75%;
	background-color: var(--color-5);
	padding: 0 0.25em;
}*/

/*.menu li:nth-child(5):hover ~ .slider, .menu li:nth-child(5):focus ~ .slider, .menu li:nth-child(5):active ~ .slider {
	left: 68%;
	background-color: var(--color-6);
	padding: 0 0.25em;
}

.menu li:nth-child(6):hover ~ .slider, .menu li:nth-child(6):focus ~ .slider, .menu li:nth-child(6):active ~ .slider {
	left: 84%;
	background-color: var(--color-7);
	padding: 0 0.25em;
}*/



@media only screen and (max-width:48em) {
	header {
		width: 75%;
		margin: 2em auto;
	}

	.header-content {
		flex-direction: column;
		margin: auto;
		padding: 0;
	}

	.header-name {
		border-bottom: 1.5px solid var(--text-color);
		padding-bottom: 0.25em;
		margin-bottom: 0.25em;
		text-align: center;
	}

	header nav a {
	padding: 0 0.25em;
	}
}


/*Index*/

.whole-index {
	background-color: #93D5D5;
}

.index-me-all {
	display: flex;
	flex-direction: row;
	width: 55%;
	margin: auto;
	margin-bottom: 4em;
}

.index-me-img {
	width: 75px;
	height: 100%;
	border-radius: 50%;
}

.index-me-text {
	margin-left: 2em;
}

.index-content-all {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.index-content-item {
	background: white;
	width: 42%;
	height: 100%;
	padding: 1.5em;
}



@media only screen and (max-width:48em) {
	.index-me-all {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	margin: auto;
	}

	.index-me-img {
		width: 75px;
		height: 100%;
		border-radius: 50%;
	}

	.index-me-text {
		margin-top: 1em;
		margin-left: 0;
		margin-bottom: 3em;
		text-align: center;
	}

	.index-content-all {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.index-content-item {
		width: 100%;
		margin-bottom: 2em;
	}

}


/*Subsites*/
section h1 {
	font-size: 3em;
	margin: 1em 0;
}

@media only screen and (max-width:32em) {
	section h1 {
		font-size: 2em;
	}

}

section p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}

section img {
	width: 100%;
	margin: 0.5em 0;
}

section h2 {
	margin: 1em 0;
}

section h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0;
}

section a {
	background-color: var(--color-2);
	padding: 0.1em 0.3em;
}

section a:hover {
	background-color: var(--color-1);
	padding: 0.1em 0.3em;
}

section li {
	list-style: disc;
	margin-left: 3em;
	font-size: 1.15em;
	line-height: 1.25em;
	margin-bottom: 0.75em;
}

.img-text-float img {
	width: 47%;
	float: left;
	padding-right: 1em;
	margin: auto;
}

@media only screen and (max-width:48em) {
	.img-text-float img {
		width: 100%;
		padding-right: 0;
		margin-bottom: 2em;
	}

}

/*BlogPost Ubersicht*/
.blog-section-title {
	font-size: 3em;
	margin: 1em 0;
}

.single-blog-post {
}

.seperator-blog-posts {
	border-bottom: 2px solid var(--text-color);
	width: 50%;
	text-align: center;
	margin: 5em auto 5em auto;
}

.single-blog-post a:hover {
	background-color: var(--color-3);
}

.blog-ubersicht-date {
	opacity: 0.8;
}

.blog-ubersicht-title {
	padding: 0.4em 0 0.6em 0;
	font-size: 2em;
}

.blog-ubersicht-lesezeit {
}

.blog-ubersicht-summary {
	padding: 0.8em 0;
	font-size: 1.15em;
	line-height: 1.5em;
}

.blog-ubersicht-read-more {
	font-weight: 600;
	font-size: 1.15em;
}

/*Blogposts*/
.blog-post-date {
	opacity: 0.8;
}

.blog-post-title {
	font-size: 2em;
	margin: 0.5em 0 0.2em 0;
}

.blog-post-lesezeit {
	margin-bottom: 2.5em;
}

.blog-post-text {
}

/*Impressum*/
.kontakt-impressum-link {
	margin-top: 4em;
	margin-bottom: -2em;
}

.kontakt-impressum-link a {
	background-color: white;
}

/*Footer*/
footer {
	position: relative;
	margin: 1em auto;
	display: flex;
	flex-direction: row;
}

footer div {
	margin-left: 2em;
}

footer div a {
	margin: 1em;
	padding: 0.2em;
}

footer a:hover {
	background-color: var(--color-2);
}

@media only screen and (max-width:48em) {
	footer {
		flex-direction: column;
		text-align: center;
		font-size: 0.9em;
	}

	footer div {
		margin-left: auto;
		margin-top: 1em;
	}

	footer div a {
		margin: 0.5em;
	}

	footer p {
		margin-top: 1em;
	}

}
