html {
	text-rendering: optimizeLegibility;
	--text-color: #333;
	--text-font: 'Open Sans', sans-serif;
	--title-font: serif;
	--color-1:#93D5D5;
	--color-2:#d593d5;
	--color-3:#93b4d5;
	--color-4:#d5d593;
	--color-5:#d59393;
	--color-6:#9393d5;
	--color-7:#93d593;
}

body {
	color: var(--text-color);
	margin: 0;
	padding: 0;
	font-family: var(--text-font);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	width: 90%;
	margin: 4em auto;
	flex: 1;
}

@media only screen and (max-width:54em) {
	main {
		width: 75%;
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: var(--title-font);
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

/*Header*/
header {
}

.header-content {
	font-size: 1em;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1.25em auto;
	font-size: 1.35em; 
	width: 90%;
}

.header-name {}

header nav ul {
	display: flex;
	flex-direction: row;
	margin: auto;
}

header nav a {
	margin: 0 0.5em;
	padding: 0.2em;
}

header nav a:hover {
	background-color: var(--color-2);
}

header nav a.active {
	background-color: var(--color-2);
}


@media only screen and (max-width:48em) {
	header {
		width: 75%;
		margin: 2em auto;
	}

	.header-content {
		flex-direction: column;
		margin: auto;
		padding: 0;
	}

	.header-name {
		border-bottom: 1.5px solid var(--text-color);
		padding-bottom: 0.25em;
		margin-bottom: 0.25em;
		text-align: center;
	}

	header nav a {
		padding: 0em 0.25em;
	}
}

@media only screen and (max-width:32em) {
	header nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
	header nav a {
		font-size: 0.75em;
		padding: 0em 0em;
	}
}


/*Index*/
.index-main h1 {
	font-size: 3em;
	margin: 1em 0;
}

@media only screen and (max-width:32em) {
	.index-main h1 {
		font-size: 2em;
	}

}

.index-main p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}

.index-main h2 {
	margin: 1em 0;
}

.index-main h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0;
}

.index-main a {
	
}

.index-main a:hover {
	opacity: 0.5;
	transition: 0.5s;
}



.whole-index {
	background-color: #93D5D5;
}



.index-me-all {
	display: flex;
	flex-direction: row;
	width: 55%;
	margin: auto;
	margin-bottom: 4em;
}

.index-me-img {
	width: 75px;
	height: 100%;
	border-radius: 50%;
}

.index-me-text {
	margin-left: 2em;
}


.index-content-all {
	column-count: 2;
	column-gap: 1em;
}

.index-content-item {
	break-inside: avoid;
	background-color: white;
	padding: 1.5em;
	margin-bottom: 1em;
	border-radius: 0.1em;
}

.index-content-item img {
	width: 100%;
	height: 100%;
}

.index-content-item h2 {
	font-size: 1.75em;
	margin: 0.5em 0;
}

.index-content-item p {
	font-size: 1em;
}



@media only screen and (max-width:48em) {
	.index-me-all {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	margin: auto;
	}

	.index-me-img {
		width: 75px;
		height: 100%;
		border-radius: 50%;
	}

	.index-me-text {
		margin-top: 1em;
		margin-left: 0;
		margin-bottom: 4em;
		text-align: center;
	}
	.index-content-all {
		column-count: 1;
		column-gap: 1em;

	}

	.index-content-item {
		break-inside: avoid;
		background-color: white;
		padding: 1.5em;
		margin-bottom: 1em;
	}

}


/*Subsites*/
section {
	width: 65%; 
	margin: auto;
}

section h1 {
	font-size: 3em;
	margin: 1em 0;
}

@media only screen and (max-width:32em) {
	section h1 {
		font-size: 2em;
	}

}

section p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}

section img {
	width: 100%;
	margin: 0.5em 0;
}

section h2 {
	margin: 1em 0;
}

section h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0;
}

section a {
	background-color: var(--color-2);
	padding: 0.1em 0.3em;
}

section a:hover {
	background-color: var(--color-1);
	padding: 0.1em 0.3em;
}

section li {
	list-style: disc;
	margin-left: 3em;
	font-size: 1.15em;
	line-height: 1.25em;
	margin-bottom: 0.75em;
}

.img-text-float img {
	width: 47%;
	float: left;
	padding-right: 1em;
	margin: auto;
}

@media only screen and (max-width:48em) {
	.img-text-float img {
		width: 100%;
		padding-right: 0;
		margin-bottom: 2em;
	}
	section {
		width: 85%;
	}

}

/*BlogPost Ubersicht*/
.blog-all {
	width: 65%; 
	margin: auto;
	margin-top: 4em;
}

.blog-all li {
	list-style: none;
	margin-left: 0;
}

.blog-all a {
	background-color: transparent;
	padding: 0;
}

.blog-all a:hover {
	background-color: transparent;
	padding: 0;
}



.blog-section-title {
	font-size: 3em;
	margin: 1em 0;
}

.single-blog-post {
}

.seperator-blog-posts {
	border-bottom: 2px solid var(--text-color);
	width: 50%;
	text-align: center;
	margin: 5em auto 5em auto;
}

.single-blog-post a:hover {
	background-color: var(--color-3);
}

.blog-ubersicht-date {
	opacity: 0.8;
}

.blog-ubersicht-title {
	padding: 0.4em 0 0.6em 0;
	font-size: 2em;
}

.blog-ubersicht-lesezeit {
}

.blog-ubersicht-summary {
	padding: 0.8em 0;
	font-size: 1.15em;
	line-height: 1.5em;
}

.blog-ubersicht-read-more {
	font-weight: 600;
	font-size: 1.15em;
}

@media only screen and (max-width:48em) {
	.blog-all {
	width: 90%; 
	margin-top: 1em;
}
	.blog-ubersicht-title {
		padding: 0.1em 0;
		margin: 1em 0;
		font-size: 1.5em;
		line-height: 1.5em;
	}
	.blog-ubersicht-summary {
		padding: 0.8em 0;
		font-size: 1em;
		line-height: 1.5em;
	}

}


/*Blogposts*/
.blog-post-date {
	opacity: 0.8;
}

.blog-post-title {
	font-size: 2em;
	margin: 0.5em 0 0.2em 0;
}

.blog-post-lesezeit {
	margin-bottom: 2.5em;
}

.blog-post-text {
}

/*Impressum*/
.kontakt-impressum-link {
	margin-top: 4em;
	margin-bottom: -2em;
}

.kontakt-impressum-link a {
	background-color: white;
}

/*Footer*/
footer {
	position: relative;
	margin: 1em auto;
	display: flex;
	flex-direction: row;
}

footer div {
	margin-left: 2em;
}

footer div a {
	margin: 1em;
	padding: 0.2em;
}

footer a:hover {
	background-color: var(--color-2);
}

@media only screen and (max-width:48em) {
	footer {
		flex-direction: column;
		text-align: center;
		font-size: 1em;
	}

	footer div {
		margin-left: auto;
		margin-top: 1em;
	}

	footer div a {
		margin: 0.25em;
	}

	footer p {
		margin-top: 0.5em;
	}

}
