html {
	text-rendering: optimizeLegibility;
	--text-color: #333;
	--text-font: 'Open Sans', sans-serif;
	--title-font: serif;
	--color-1:#93D5D5;
	--color-2:#d593d5;
	--color-3:#93b4d5;
	--color-4:#d5d593;
	--color-5:#d59393;
	--color-6:#9393d5;
	--color-7:#93d593;
}

body {
	color: var(--text-color);
	margin: 0;
	padding: 0;
	font-family: var(--text-font);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	width: 90%;
	margin: 4em auto;
	flex: 1;
}

@media only screen and (max-width:54em) {
	main {
		width: 75%;
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: var(--title-font);
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

/*Header*/
header {
	width: 75%;
	margin: 2em auto;
}

.header-content {
	font-size: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	font-size: 1.35em;
	width: 75%;
}

.header-name {
	border-bottom: 1.5px solid var(--text-color);
	padding-bottom: 0.25em;
	margin-bottom: 0.25em;
	text-align: center;
}

header nav ul {
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: center;
}

header nav a {
	margin: 0 0.5em;
	padding: 0 0.25em;
}

header nav a:hover {
	background-color: var(--color-2);
}

header nav a.active {
	background-color: var(--color-2);
}

@media only screen and (max-width:55em) {
	header {
		width: 95%;
		margin: 1em auto;
	}

}

@media only screen and (max-width:34em) {
	header nav ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	header nav a {
		font-size: 0.75em;
	}

}

/*Index*/
.index-main h1 {
	font-size: 3em;
	margin: 1em 0;
}

@media only screen and (max-width:32em) {
	.index-main h1 {
		font-size: 2em;
	}

}

.index-main p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}

.index-main h2 {
	margin: 1em 0;
}

.index-main h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0;
}

.index-me-all {
	display: flex;
	flex-direction: row;
	width: 55%;
	margin: auto;
}

.index-me-img {
	width: 75px;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 #d3d3d3, 0 6px 20px 0 #d3d3d3;

}

.index-me-text {
	margin-left: 2em;
}

.index-me-text a:hover {
	background-color: var(--color-2);
}


.animate {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}


.index-content-all {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 4em;
}

.index-content-all a {
}

.index-content-all a:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.index-content-item {
	background-color: #F4F4F4;
	margin: 1em;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 #d3d3d3, 0 6px 20px 0 #d3d3d3;
	width: 40%;
}

.index-content-item img {
	width: 100%;
	height: 100%;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.index-content-item h2 {
	font-size: 1.5em;
	margin: 0.5em;
}

.index-content-item p {
	font-size: 0.95em;
	margin: 1em;
	opacity: 0.7;
}

@media only screen and (max-width:55em) {
	.index-content-item {
		width: 95%;
	}

}

@media only screen and (max-width:55em) {
	.index-me-all {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: auto;
	}

	.index-me-img {
		width: 75px;
		height: 100%;
		border-radius: 50%;
	}

	.index-me-text {
		margin-top: 1em;
		margin-left: 0;
		margin-bottom: 4em;
		text-align: center;
	}

}

/*Subsites*/
section {
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

section h1 {
	font-size: 3em;
	margin: 1em 0;
}

.signature {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 3em;
	margin-left: 0.5em;
	transform: rotate(-2deg);
	opacity: 0.8;
}

.img-design-page {
	box-shadow: 0 4px 8px 0 #d3d3d3, 0 6px 20px 0 #d3d3d3;
}

.design-images-cluster {

}

@media only screen and (max-width:32em) {
	section h1 {
		font-size: 2em;
	}

}

section p {
	font-size: 1.15em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
}

section img {
	width: 100%;
	margin: 0.5em 0;
}

section h2 {
	margin: 1em 0;
}

section h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0;
}

section a {
	background-color: var(--color-2);
	padding: 0.1em 0.3em;
}


section a:hover {
	background-color: var(--color-1);
	padding: 0.1em 0.3em;
}

.place-link-id {
	background-color: red;
}

section li {
	list-style: disc;
	margin-left: 3em;
	font-size: 1.15em;
	line-height: 1.25em;
	margin-bottom: 0.75em;
}

section img {
	margin: 1em auto;
}

@media only screen and (max-width:55em) {
	section {
		width: 85%;
	}

}

/*BlogPost Ubersicht*/
.blog-all {
	width: 65%;
	margin: auto;
}

.blog-all li {
	list-style: none;
	margin-left: 0;
}

.blog-all a {
	background-color: transparent;
	padding: 0;
}

.blog-all a:hover {
	background-color: transparent;
	padding: 0;
}

.blog-section-title {
	font-size: 3em;
	margin: 1em 0;
}

.single-blog-post {
}

.seperator-blog-posts {
	border-bottom: 2px solid var(--text-color);
	width: 50%;
	text-align: center;
	margin: 5em auto 5em auto;
}

.single-blog-post a:hover {
	background-color: var(--color-3);
}

.blog-ubersicht-date {
	opacity: 0.6;
}

.blog-ubersicht-title {
	padding: 0;
	font-size: 2em;
	line-height: 1em;
}

.blog-ubersicht-lesezeit {
	opacity: 0.8;
}

.blog-ubersicht-summary {
	font-size: 1.1em;
	line-height: 1.6em;
	opacity: 0.8;
}

.blog-ubersicht-read-more {
	font-weight: 600;
	font-size: 1.15em;
}

@media only screen and (max-width:55em) {
	.blog-all {
		width: 85%;
	}

	.blog-section-title {
		font-size: 2em;
		margin: 1em 0;
	}

	.blog-ubersicht-date {
		font-size: 0.9em;
		line-height: 1em;
	}

	.blog-ubersicht-title {
		padding: 0.1em 0;
		margin: 0.5em 0 0 0;
		font-size: 1.5em;
		line-height: 1.5em;
	}

	.blog-ubersicht-summary {
		padding: 0.8em 0;
		font-size: 0.9em;
		line-height: 1.7em;
	}

	.blog-ubersicht-read-more {
		font-size: 1em;
	}

}

/*Blogposts*/
.blog-post-date {
	opacity: 0.8;
}

.blog-post-title {
	font-size: 2em;
	margin: 0.5em 0 0.2em 0;
}

.blog-post-lesezeit {
	margin-bottom: 2.5em;
}

.blog-post-text {
}

/*Impressum*/
.kontakt-impressum-link {
	margin-top: 4em;
	margin-bottom: -2em;
}

.kontakt-impressum-link a {
	background-color: white;
}

/*Footer*/
footer {
	position: relative;
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

footer div {
	margin: 1em;
}

footer div a {
	margin: 1em;
	padding: 0.3em;
}

footer a:hover {
	background-color: var(--color-2);
}

@media only screen and (max-width:48em) {
	footer {
		font-size: 1em;
	}

	footer div {
		margin-left: auto;
		margin-top: 1em;
	}

	footer div a {
		margin: 0.25em;
	}

	footer p {
		margin-top: 0.5em;
	}

}




.masonry-container {
	width: 100%;
	position: relative;
	margin: auto;
}

.panel {
	position: relative;
	display: inline-block;
	width: calc((80vw - 60px)/3);
	height: calc((80vw - 60px)/3);
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	cursor: pointer;
	box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.2s ease-out;
}

.panel:hover {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.55);
	transition: all 0.2s ease-out;
}

.panel:nth-child(11n+3) {
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: calc(((80vw - 20px)/3)*2);
	height: calc((80vw - 60px)/3);
}

.panel:nth-child(11n+8) {
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: calc(((80vw - 20px)/3)*2);
	height: calc((80vw - 60px)/3);
}

.panel:nth-child(11n+11) {
	margin-left: 0.5em;
	margin-right: 0.5em;
	width: calc(((80vw - 20px)/3)*2);
	height: calc((80vw - 60px)/3);
}


.panel-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
}

.panel-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	transition: all 0.3s ease-out;
}

.panel-overlay:hover {
	opacity: 1;
	transition: all 0.3s ease-out;
}

.panel-text {
	position: absolute;
	padding: 0.5em;
	left: 0.5em;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 10;
	background-color: white;
}

.panel-title {
	font-size: 1em;
	font-weight: 300;
	color: var(---text-color);
}

.tags-list {
	font-size: 0.55em;
	font-weight: 400;
	color: var(---text-color);
}

.panel-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media only screen and (max-width:55em) {
	.masonry-container {
		width: 100%;
		margin: auto;
	}
	.panel {
		width: calc((80vw - 60px));
		height: calc((80vw - 60px));
		margin-left: 0;
	}
		.panel:nth-child(11n+3) {
		width: calc((80vw - 60px));
		height: calc((80vw - 60px));
		margin-left: 0;
	}

	.panel:nth-child(11n+8) {
		width: calc((80vw - 60px));
		height: calc((80vw - 60px));
		margin-left: 0;
	}

	.panel:nth-child(11n+11) {
		width: calc((80vw - 60px));
		height: calc((80vw - 60px));
		margin-left: 0;
	}
}
