<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}
  <title>Blog | {{ .Site.Title }}</title>
</head>
<body>

	{{ partial "header.html"  . }}

	<div class="site-content">

		<ul>			
			{{ range .Data.Pages }}
			<li class="single-post-summary">
				<p class="date-blog-summary">
				{{ .Date.Format "02. 01. 2006" }}
				</p>
				<a href="{{ .Permalink }}">
				<h2 class="titel-blog-summary">
					{{ .Title }}
				</h2>
				</a>
				<a href="{{ .Permalink }}">
				<img class="img-blog-summary" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
				</a>
				<p class="summary-blog-summary">{{ .Summary }}</p>

				<a href="{{ .Permalink }}">
					<p class="read-more-blog-summary">Weiter lesen...</p>
				</a>
			</li>
			{{ end }}
		</ul>

	</div>
	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</body>
</html>
