<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
<title>Blog | {{ .Site.Title }}</title>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html"  . }}

	<div class="site-content">


<div class="sub-hero img-blog">

<h2 class="sub-hero-img-text">Mein Blog</h2>
</div>

		<ul class="blog-summary">			
			{{ range .Data.Pages }}
			<li class="single-post-summary">
				<p class="date-blog-summary">
				{{ .Date.Format "02.01.2006" }}
				</p>
				<a href="{{ .Permalink }}">
				<h2 class="titel-blog-summary">
					{{ .Title }}
				</h2>
				</a>
				<p class="summary-blog-summary">{{ .Summary }}</p>
				<a href="{{ .Permalink }}">
					<p class="read-more-blog-summary">Weiter lesen...</p>
				</a>
				<div class="seperator-blog-posts"></div>
			</li>
			{{ end }}
		</ul>

	</div>
	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</body>
</html>
