<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}
  <title>Work | {{ .Site.Title }}</title>
</head>
<body>

	{{ partial "header.html"  . }} 

	<div class="side-content work-content">

		<ul>			
			{{ range .Data.Pages }}
			<li>
				<a href="{{ .Permalink }}">
				<img class="img-work" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
				</a>
				<div class="titel-work">
					{{ .Title }}
				</div>
			</li>
			{{ end }}
		</ul>


	</div>

	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</body>
</html>
